Repository openstreetmap/id-tagging-schema, pull requests merged in 2022-07, with the labels that each got.

#513 Update farmyard.json
  data/presets/landuse/farmyard.json
Labels: bug, new-label

#516 Add 2 vending machines presets
  data/presets/amenity/vending_machine/bicycle_tube.json
  data/presets/amenity/vending_machine/pizza.json
Labels: new-preset

#517 Add preset for `cemetery=sector`
  data/fields/ref_sector.json
  data/fields/sector/name.json
  data/presets/cemetery/sector.json
Labels: new-preset, new-field

#519 Update barrier presets
  data/presets/barrier/full-height_turnstile.json
  data/presets/barrier/hampshire_gate.json
Labels: new-label

#447 Update power presets following transformer tagging extension
  data/deprecated.json
  data/fields/transformer.json
  data/fields/windings/auto.json
  data/preset_categories/utility.json
  data/presets/_power.json
  data/presets/power/transformer.json
  interim/source_strings.yaml
Labels: deprecating, new-field, new-value

#524 building=manufacture with own building description
  data/presets/building/_manufacture.json
Labels: considering, new-preset

#522 Add grave preset
  data/presets/cemetery/grave.json
Labels: new-preset

#527 Add `building:part` field
  data/fields/building/part.json
  data/presets/building_part.json
Labels: new-field

#520 Add Truck Speed Limit field
  data/fields/maxspeed/hgv.json
  data/presets/highway/motorway.json
  data/presets/highway/primary.json
  data/presets/highway/trunk.json
Labels: new-field

#537 Add Horse Race Course preset
  data/presets/leisure/sports_centre/horse_racing.json
Labels: new-preset

#540 Update cycleway.json
  data/fields/cycleway.json
Labels: new-value

#528 add two popular building values
  data/presets/building/_outbuilding.json
  data/presets/building/allotment_house.json
Labels: new-preset

#546 Add field for `tee`
  data/fields/tee.json
  data/presets/golf/tee.json
Labels: new-field

#551 fix broken Lifeboat Station preset
  data/presets/emergency/lifeboat_station.json
Labels: bug
