Repository openstreetmap/id-tagging-schema, pull requests merged in 2022-11, with the labels that each got.

#628 Add American Handball Court preset
  data/presets/leisure/pitch/american_handball.json
Labels: new-preset

#630 Add Tree Stump Preset and update ATM icon
  data/presets/amenity/atm.json
  data/presets/natural/tree_stump.json
Labels: new-preset, new-icon

#637 Add Diving Platform preset
  data/fields/tower/platforms.json
  data/presets/man_made/tower/diving.json
Labels: new-preset, new-field

#640 Add Pipeline Substation preset
  data/fields/pipeline.json
  data/fields/substation_pipeline.json
  data/presets/_pipeline.json
  data/presets/pipeline/substation.json
  data/presets/pipeline/valve.json
Labels: new-preset

#649 Add gantry presets
  data/fields/structure_power.json
  data/presets/man_made/crane/gantry_crane.json
  data/presets/man_made/crane/portal_crane.json
  data/presets/man_made/gantry.json
  data/presets/power/portal.json
  data/presets/power/tower.json
Labels: new-preset

#652 Update maxstay options
  data/fields/maxstay.json
Labels: bug
