Repository openstreetmap/id-tagging-schema, pull requests merged in 2022-06, with the labels that each got.

#476 replace shop=general_store with shop=general
  data/deprecated.json
Labels: deprecating

#477 replace shop=office_supplies with shop=stationery
  data/deprecated.json
Labels: deprecating

#478 add presets for workwear and suits store
  data/presets/shop/clothes/suits.json
  data/presets/shop/clothes/workwear.json
Labels: new-preset

#489 Add Yurt preset
  data/presets/building/ger.json
Labels: new-preset

#490 Made target and country case sensitive
  data/fields/country.json
  data/fields/target.json
Labels: bug, field

#495 Add additional terms to Service Area preset
  data/presets/highway/services.json
Labels: new-label

#483 create preset for route=railway
  data/presets/type/route/railway.json
Labels: new-preset

#485 Add preset and field for sport=table_football
  data/fields/sport_pub.json
  data/presets/amenity/bar.json
  data/presets/amenity/pub.json
  data/presets/amenity/restaurant.json
  data/presets/leisure/pitch/table_soccer.json
Labels: new-preset, new-field

#479 Add `lane_markings` field
  data/fields/lane_markings.json
  data/presets/highway/primary.json
  data/presets/highway/residential.json
Labels: new-field

#442 Add Radar Speed Sign preset
  data/presets/highway/speed_display.json
Labels: new-preset

#504 added highway=emergency_access_point
  data/presets/highway/emergency_access_point.json
Labels: new-preset

#506 Add more barrier presets
  data/fields/barrier_planter.json
  data/fields/maxwidth.json
  data/presets/barrier/_ditch.json
  data/presets/barrier/_handrail.json
  data/presets/barrier/_log.json
  data/presets/barrier/_planter.json
  data/presets/barrier/bump_gate.json
  data/presets/barrier/bus_trap.json
  data/presets/barrier/cable_barrier.json
  data/presets/barrier/full-height_turnstile.json
  data/presets/barrier/hampshire_gate.json
  data/presets/barrier/jersey_barrier.json
  data/presets/barrier/motorcycle_barrier.json
  data/presets/barrier/rope.json
  data/presets/barrier/wicket_gate.json
  data/presets/man_made/planter.json
Labels: new-preset
