Repository openstreetmap/id-tagging-schema, pull requests merged in 2023-11, with the labels that each got.

#1051 Add Adventure Park preset
  data/presets/leisure/sports_centre/climbing_adventure.json
Labels: new-preset

#1048 Add preset for tag building=riding_hall
  data/presets/building/riding_hall.json
Labels: new-preset

#1058 Exclude Israel from "cycleway for foot+bicycle"
  data/presets/highway/cycleway/bicycle_foot.json
  data/presets/highway/cycleway/crossing/bicycle_foot.json
Labels: regional

#1043 Update loading dock fields
  data/deprecated.json
  data/fields/dock/height.json
  data/fields/dock/width.json
  data/fields/door/height.json
  data/fields/door/width.json
  data/presets/amenity/loading_dock.json
Labels: deprecating, new-field, add-field

#1045 Add Funeral Service Hall preset
  data/presets/amenity/funeral_hall.json
Labels: new-preset

#1063 pankcake -> pancake
  data/fields/cuisine.json
Labels: bug
