Repository openstreetmap/id-tagging-schema, pull requests merged in 2023-08, with the labels that each got.

#969 Add more translatable strings for commonly used sports
  data/fields/sport.json
Labels: new-value

#967 Add "Fine Gravel" as surface value
  data/fields/surface.json
Labels: new-value

#968 preset `traffic_sign=maxspeed`: Use direction icon same as other traffic_sign presets
  data/presets/traffic_sign/maxspeed.json
Labels: new-icon

#964 Add preset `stolperstein` with deprecations and `memorial:addr` field
  data/deprecated.json
  data/fields/memorial/addr.json
  data/fields/memorial/addr_subtags.json
  data/presets/historic/memorial/stolperstein-EU.json
Labels: regional, deprecating, new-preset

#983 #975 Added baking_oven in preset
  data/presets/amenity/baking_oven.json
  data/presets/building/bakehouse.json
  interim/source_strings.yaml
Labels: new-preset

#984 Add "unspecified traffic sign"
  data/presets/highway/_traffic_sign.json
Labels: new-preset
