Repository openstreetmap/id-tagging-schema, pull requests merged in 2023-07, with the labels that each got.

#935 Add translatable strings to healthcare field
  data/fields/healthcare.json
Labels: new-value

#944 Create preset for shop=rice
  data/presets/shop/rice.json
Labels: new-preset

#952 Add Hazardous Area preset
  data/fields/hazard_boundary.json
  data/presets/boundary/hazard.json
  data/presets/landuse/military/danger_area.json
Labels: new-preset, new-field, new-label

#957 Preset: `tree_stump` geometry same as `tree`
  data/presets/natural/tree_stump.json
Labels: bug

#961 Create hookah_lounge.json
  data/presets/amenity/hookah_lounge.json
Labels: new-preset

#956 Presets: Two specific tree presets
  data/fields/leaf_type.json
  data/presets/natural/tree.json
  data/presets/natural/tree/_broadleaved.json
  data/presets/natural/tree/_needleleaved.json
  data/presets/natural/tree/broadleaved/_evergreen.json
  data/presets/natural/tree/broadleaved/deciduous.json
  data/presets/natural/tree/needleleaved/_deciduous.json
  data/presets/natural/tree/needleleaved/evergreen.json
Labels: new-preset
