Repository openstreetmap/id-tagging-schema, pull requests merged in 2024-08, with the labels that each got.

#232 Adding maxheight to parking garage entrance/exit
  data/presets/amenity/parking_entrance.json
Labels: add-field

#1308 Revert "Add deprecation rules for typos in sidewalk-related tags"
  data/deprecated.json
Labels: deprecating

#1286 Add camp_site field to tourism=camp_site
  data/fields/camp_site.json
  data/presets/tourism/camp_site.json
Labels: new-field

#1298 Add preset for office=translator
  data/presets/office/translator.json
Labels: new-preset
