Repository openstreetmap/id-tagging-schema, pull requests merged in 2024-07, with the labels that each got.

#1176 Add presets for ski jump tagging
  data/fields/piste/type.json
  data/fields/sport.json
  data/presets/man_made/ski_jump.json
  data/presets/piste/ski_jump.json
  data/presets/piste/take_off.json
Labels: new-preset

#222 add "sidewalk=none" to list of deprecated tags
  data/deprecated.json
  dist/deprecated.json
Labels: waitfor-consensus

#1165 Create barber.json
  data/presets/shop/hairdresser.json
  data/presets/shop/hairdresser/barber.json
Labels: new-preset

#215 Add some common name fields
  data/fields/alt_name.json
  data/fields/loc_name.json
  data/fields/nat_name.json
  data/fields/official_name.json
  data/fields/reg_name.json
  data/fields/short_name.json
  interim/source_strings.yaml
Labels: enhancement

#1235 Create preset for footwear_decontamination
  data/presets/man_made/footwear_decontamination-AU-NZ.json
  interim/icons.json
  interim/source_strings.yaml
Labels: new-preset, new-icon

#1293 Fix typo
  data/fields/roller_coaster/track.json
Labels: bug

#1281 Add Go Kart Facility preset
  data/presets/leisure/sports_centre/karting.json
Labels: new-preset

#1280 Add Chinese Fast Food preset
  data/presets/amenity/fast_food/chinese.json
  data/presets/amenity/restaurant/chinese.json
Labels: new-preset
