Repository openstreetmap/id-tagging-schema, pull requests merged in 2024-01, with the labels that each got.

#1084 Add `railway:switch` field to `railway=switch` preset
  data/fields/railway/switch.json
  data/presets/railway/switch.json
Labels: new-field

#1088 Add field for summit cross
  data/fields/summit/cross.json
  data/presets/natural/peak.json
Labels: new-field

#1090 Fix icon Thai restaurant
  data/presets/amenity/restaurant/thai.json
Labels: new-icon

#1091 Add preset for `man_made=clarifier`
  data/presets/man_made/clarifier.json
Labels: new-preset
