Repository openstreetmap/id-tagging-schema, pull requests merged in 2025-04, with the labels that each got.

#1503 set up release-drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: github_actions

#1502 Clarify term "Wikibase" for data entries in osm-wiki
  CONTRIBUTING.md
Labels: documentation

#1504 Consistently use term "Wikibase" for data items also in contribution guidelines
  GUIDELINES.md
Labels: documentation

#1508 Remove `source` field by marking it as a field to be used on changesets (only)
  data/fields/source.json
Labels: field

#1140 Add `crossing=informal` as unsearchable preset for point and line geometries
  data/presets/highway/crossing/_informal.json
  data/presets/highway/footway/crossing/_informal.json
  data/presets/highway/path/crossing/_informal.json
Labels: new-preset
